<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card-header">
                <i class="fa fa-file"></i> &nbsp;
                Editar tramite
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8" *ngIf="tramite !== null">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="cliente">Cliente:</span>
                        </div>
                        <input type="text" class="form-control" disabled="true" [value]="tramite.cliente.nombres">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="cliente_identificacion">Identificación {{ tramite.cliente.tipo_documento | uppercase }}:</span>
                        </div>
                        <input type="text" class="form-control" disabled="true" [value]="tramite.cliente.identificacion">
                    </div>

                    <form (submit)="update()" role="form" [formGroup]="tramiteGroup">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="recorrido_label">Recorrido:</span>
                            </div>
                            <select class="form-control" formControlName="recorrido_id">
                                <option [value]="recorrido.id"
                                        [selected]="recorrido.id === tramite.recorrido_id"
                                        *ngFor="let recorrido of recorridos">
                                    {{ recorrido.tipo_tramite }} | Paso {{ recorrido.posicion }} | Dep. {{ recorrido.departamento }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="observacion_label">Observacion:</span>
                            </div>
                            <input type="text" class="form-control"
                                   id="observacion"
                                   formControlName="observacion"
                                   name="observacion"/>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-text" id="estado_label">Estado de Tramite:</span>
                            <ul class="list-group-item">
                                <li>
                                    <span class="radio-content">Pendiente </span><input type="radio" class="radio" formControlName="estado" value="pendiente">
                                </li>
                                <li>
                                    <span class="radio-content">En Proceso </span><input type="radio" class="radio" formControlName="estado" value="proceso">
                                </li>
                                <li>
                                    <span class="radio-content">Finalizado </span><input type="radio" class="radio" formControlName="estado" value="finalizado">
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="permiso_label">Permiso público:</span>
                                    </div>
                                    <input type="checkbox" class="permiso" formControlName="permiso">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="con_archivo_label">Actualizar archivo:</span>
                                    </div>
                                    <input type="checkbox" class="permiso" formControlName="con_archivo">
                                </div>
                            </div>
                        </div>
                        <div class="form-group input-group" [class.ocultar]="tramiteGroup.value.con_archivo === false">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="nuevo_archivo_label">Subir actualización de archivo:</span>
                            </div>
                            <input type="file" #nuevo_archivo class="form-control">
                        </div>
                        <hr>
                        <button [disabled]="tramiteGroup.status === 'INVALID'" type="submit" class="btn btn-success">
                            Actualizar
                        </button>
                    </form>
                </div>
                <div class="col-md-4" align="center">
                    <br>
                    <h3>Tramite</h3>
                    <hr>
                    <img src="http://www.funcionpublica.gov.co/eva/admon/files/empresas/ZW1wcmVzYV83Ng==/imagenes/1485389466_d4282d7e456ce04dbb5431b38657816c.png" alt="" width="200">
                </div>
            </div>
        </div>
    </div>
</div>
