    <div class="container-fluid" [@routerTransition]>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">
                    <button type="button"[routerLink]="['/privilegio/crear']"class="btn btn-primary">
                        Nuevo &nbsp;
                        <i class="fa fa-fw fa-gear"></i>
                    </button>
                    &nbsp;&nbsp;&nbsp;Lista Privilegios
                </div>

                <div class="card-body table-responsive">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" (keypress)="buscar(search)" [(ngModel)]="search">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>N. </th>
                            <th>Departamento</th>
                            <th>Acceso</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let privilegio of privilegios; let i = index">
                            <td>{{ i + 1}}</td>
                            <td>{{ privilegio.departamento.nombre }}</td>
                            <td>{{ privilegio.ruta }}</td>
                            <td>
                                <i *ngIf="privilegio.activo" class="fa fa-check"></i>
                                <i *ngIf="!privilegio.activo" class="fa fa-times"></i>
                            </td>
                            <td align="center">
                                <button (click)="edit(privilegio.id)" type="button" class="btn btn-info">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                </button>&nbsp;
                                <button type="button" class="btn btn-danger" (click)="confirm(i, privilegio.id,confirmModal)">
                                    <i class="fa fa-eraser" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <ng-template #confirmModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Confirmar eliminación</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Esta seguro de confirmar la eliminacion? &hellip;</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" (click)="c('cerrar')">No</button>
            <button class="btn btn-danger" (click)="c('si')">Esta bien</button>
            <!--<button type="button" class="btn btn-secondary" >Close</button>-->
        </div>
    </ng-template>
