<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="card-header">
        <i class="fa fa-file-archive-o"></i> &nbsp;
        Añadir Tramite
      </div>
      <hr>
      <div class="row">
        <div class="col-md-8">
          <form role="form">

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="cliente">RUC/CI. :</span>
              </div>
              <select class="form-control">
                <option>Juan</option>
                <option>marcelo</option>
              </select>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="nombres">Nombres :</span>
              </div>
              <input type="text" class="form-control" disabled>
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="correo">Correo :</span>
              </div>
              <input type="text" class="form-control" disabled>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="tipo">Tipo Tramite</span>
              </div>
              <select class="form-control">
                <option>1321</option>
                <option>1561465</option>
              </select>
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="archivo">Seleccionar Archivo:</span>
              </div>
              <input type="file" class="form-control" placeholder="...">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="fecha">Fecha:</span>
              </div>
              <input type="date" class="form-control">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="observacion">Observación:</span>
              </div>
              <input type="text" class="form-control" placeholder="...">
            </div>

            <hr>
            <div class="row">
              <div class="col-md-3">
                <button class="btn btn-primary" style="width: 150px">
                  <span class="fa fa-save"></span>
                  Guardar
                </button>
              </div>
              <div class="col-md-3">
                <button type="reset" class="btn btn-success" style="width: 150px">
                  <span class="fa fa-file"></span>
                  Nuevo
                </button>
              </div>
            </div>

          </form>
        </div>
        <div class="col-md-4" align="center">
          <br>
          <h3>Tramite</h3>
          <hr>
          <img src="https://www.microdata.es/wp-content/uploads/G_investigacion-expediente.jpg" alt="" width="200">
        </div>
      </div>
    </div>
  </div>
</div>