/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import '~ngx-toastr/toastr.css';
@import '~ngx-toastr/toastr-bs4-alert';

@media print {
    .breadcrumb {
        display: none !important;
    }
}
.ng-autocomplete-input {
    border: none;
    width: 100%;
}
.ng-autocomplete-input:focus {
    outline: none;
}
.ng-autocomplete-dropdown{
    position: absolute;
    background-color: whitesmoke;
    cursor: pointer;
    z-index: 1000;
}
.permiso, .radio{
    box-sizing: border-box;
    margin: 1em;
    transform: scale(1.5);
}
.radio-content {
    display: inline-block;
    width: 100px;
}
.list-group-item > li {
    list-style-type: none;
}
.link {
    cursor: pointer;
}
.publico {
    background-color: #1d68a7;
    color: white;
}
.controls {
    min-width: 150px;
    text-align: center;
}
.finalizado{
    color: #47c160;
}
.pendiente{
    color: #e63e5c;
}
.proceso{
    color: #1b1e21;
}
li {
    list-style-type: none;
}
