<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <br>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Inicio</a>
          </li>
          <li class="breadcrumb-item">
            <i class="fa fa-users"></i> &nbsp;&nbsp;
            <a routerLink="/cliente" >Lista Clientes</a>
          </li>
          <li class="breadcrumb-item active">
            Añadir Cliente
          </li>
        </ol>
      </nav>
      <br>
      <div class="row">
        <div class="col-md-8">
          <form role="form" [formGroup]="clienteGroup">
            <div class="card">
              <h5 class="card-header">
                Ingrese Cliente :
              </h5>
              <div class="card-body">
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="tipo">Tipo documento</span>
                  </div>
                  <select class="form-control" id="tipo_documento" formControlName="tipo_documento" name="tipo_documento">
                    <option>Ruc</option>
                    <option>Cédula</option>
                  </select>
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="iden">Identificación:</span>
                  </div>
                  <input type="text" class="form-control"
                         mask="000000000-0"
                         id="identificacion" name="identificacion" formControlName="identificacion" placeholder="000000000-0" autofocus/>
                  &nbsp;&nbsp;&nbsp;
                  <button (click)="consultacliente()" class="btn btn-success">
                    <span class="fa fa-search"></span>
                  </button>
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="nom">Nombres:</span>
                  </div>
                  <input type="text"
                         class="form-control" id="nombres" name="nombres" formControlName="nombres" OnlyNumber="false"/>
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="lelefono">Telefono:</span>
                  </div>
                  <input type="text"
                         placeholder="000-000-000"
                         mask="000-000-000"
                         class="form-control" id="telefono" name="telefono" formControlName="telefono" />
                  <small class="alert-danger" *ngIf="clienteGroup.get('telefono').status ==='INVALID' && clienteGroup.get('telefono').dirty">Telefono invalido</small>
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="cel">Celular:</span>
                  </div>
                  <input type="text"
                         placeholder="(000) 000-0000"
                         mask="(000) 000-0000"
                         class="form-control" id="celular" name="celular" formControlName="celular" />
                  <small class="alert-danger" *ngIf="clienteGroup.get('celular').status ==='INVALID' && clienteGroup.get('celular').dirty">Celular invalido</small>
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="email">Correo:</span>
                  </div>
                  <input type="email" class="form-control" id="correo" name="correo" formControlName="correo" />
                  <small class="alert-danger" *ngIf="clienteGroup.get('correo').status ==='INVALID' && clienteGroup.get('correo').dirty">Correo invalido</small>
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="doc">Documento:</span>
                  </div>
                  <input type="file" class="form-control" id="documento" name="documento" formControlName="documento" #documento/>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-md-3">
                    <button [disabled]="clienteGroup.status === 'INVALID'" (click)="store()" class="btn btn-primary" style="width: 150px">
                      <span class="fa fa-save"></span>
                      Guardar
                    </button>
                  </div>
                  <div class="col-md-3">
                    <button type="reset" class="btn btn-success" style="width: 150px">
                      <span class="fa fa-file"></span>
                      Nuevo
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4" align="center">
          <br>
          <img src="assets/images/clientes.jpg" alt="" width="200">
        </div>
      </div>
    </div>
  </div>
</div>
