<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-header">
        <i class="fa fa-user"></i> &nbsp;
        Añadir Cliente
      </div>
      <hr>
      <div class="row">
        <div class="col-md-8">
          <form role="form">

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="tipo">Tipo documento</span>
              </div>
              <select class="form-control">
                <option>Ruc</option>
                <option>Cédula</option>
              </select>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="identificacion">Identificación:</span>
              </div>
              <input type="text" class="form-control" placeholder="000000000-0">
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="nombres">Nombres:</span>
              </div>
              <input type="text" class="form-control" placeholder="...">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="lelefono">Telefono:</span>
              </div>
              <input type="text" class="form-control" placeholder="000-000-000">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="celular">Celular:</span>
              </div>
              <input type="text" class="form-control" placeholder="000-000-0000">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="correo">Correo:</span>
              </div>
              <input type="text" class="form-control" placeholder="@">
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <button class="btn btn-primary" style="width: 150px">
                  <span class="fa fa-save"></span>
                  Guardar
                </button>
              </div>
              <div class="col-md-3">
                <button type="reset" class="btn btn-success" style="width: 150px">
                  <span class="fa fa-file"></span>
                  Nuevo
                </button>
              </div>
            </div>

          </form>
        </div>
        <div class="col-md-4">
          Imagen
        </div>
      </div>
    </div>
  </div>
</div>