<div class="container-fluid" [@routerTransition]>
  <br>
  <div class="row">
    <div class="col-md-12">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Inicio</a>
          </li>
          <li class="breadcrumb-item">
            <i class="fa fa-building"></i> &nbsp;
            <a routerLink="/departamento" >Lista Departamentos</a>
          </li>
          <li class="breadcrumb-item active">
            Añadir Departamento
          </li>
        </ol>
      </nav>
      <br>
      <div class="row">
        <div class="col-md-8">
          <form role="form" (submit)="store()" [formGroup]="departamentoGroup">
          <div class="card">
            <h5 class="card-header">
              Ingrese Departamento
            </h5>
            <div class="card-body">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="nombres">Nombre:</span>
                </div>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="descripcion">Descripción:</span>
                </div>
                <input type="text" class="form-control" placeholder="Descripcion" formControlName="descripcion">
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-3">
                  <button type="submit"
                          class="btn btn-primary"
                          style="width: 150px">
                    <span class="fa fa-save"></span>
                    Guardar
                  </button>
                </div>
                <div class="col-md-3">
                  <button
                          [disabled]="departamentoGroup.status === 'INVALID'"
                          type="reset"
                          class="btn btn-success" style="width: 150px">
                    <span class="fa fa-file"></span>
                    Nuevo
                  </button>
                </div>
              </div>
            </div>
          </div>
          </form>
        </div>
        <div class="col-md-4" align="center">
          <br>
            <img src="assets/images/departamento.jpg" alt="" width="200">
        </div>
      </div>
    </div>
  </div>
</div>
