<div class="container-fluid" [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <br>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/dashboard">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">
                        <i class="fa fa-building"></i> &nbsp; &nbsp;
                        <a routerLink="/departamento" >Lista Departamentos</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Editar Departamento
                    </li>
                </ol>
            </nav>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <form (submit)="update()" role="form" [formGroup]="departamentoGroup" *ngIf="departamento !== null">
                    <div class="card">
                        <h5 class="card-header">
                            Ingrese Departamento
                        </h5>
                        <div class="card-body">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="tipo">Nombre: </span>
                                </div>
                                <input type="text" class="form-control"
                                       id="nombre" name="nombre" formControlName="nombre" placeholder="Nombre departamento" autofocus/>
                            </div>

                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="iden">Descripcion: </span>
                                </div>
                                <input type="text" class="form-control"
                                       id="descripcion" name="descripcion" formControlName="descripcion"
                                       placeholder="Descripcion de departamento"/>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button [disabled]="departamentoGroup.status === 'INVALID'" type="submit" class="btn btn-success">
                                Actualizar
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="col-md-4" align="center">
                    <br>
                    <img src="assets/images/departamento.jpg" alt="" width="200">
                </div>
        </div>
    </div>
</div>
